@-webkit-keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    20% {
        opacity: .3;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    40% {
        opacity: .6;
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }

    60% {
        opacity: .9;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }

    80% {
        opacity: 1;
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    20% {
        opacity: .3;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    40% {
        opacity: .6;
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }

    60% {
        opacity: .9;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }

    80% {
        opacity: 1;
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes bounceOut {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    20% {
        opacity: 1;
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }

    40% {
        opacity: .9;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }

    60% {
        opacity: .6;
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }

    80% {
        opacity: .3;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
}

@keyframes bounceOut {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    20% {
        opacity: 1;
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }

    40% {
        opacity: .9;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }

    60% {
        opacity: .6;
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }

    80% {
        opacity: .3;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
}

@-webkit-keyframes bounceInUp {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40rem, 0);
        transform: translate3d(0, 40rem, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -.26667rem, 0);
        transform: translate3d(0, -.26667rem, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, .13333rem, 0);
        transform: translate3d(0, .13333rem, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, -.06667rem, 0);
        transform: translate3d(0, -.06667rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes bounceInLeft {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-40rem, 0, 0);
        transform: translate3d(-40rem, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(.33333rem, 0, 0);
        transform: translate3d(.33333rem, 0, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(-.13333rem, 0, 0);
        transform: translate3d(-.13333rem, 0, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(.06667rem, 0, 0);
        transform: translate3d(.06667rem, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInLeft {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-40rem, 0, 0);
        transform: translate3d(-40rem, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(.33333rem, 0, 0);
        transform: translate3d(.33333rem, 0, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(-.13333rem, 0, 0);
        transform: translate3d(-.13333rem, 0, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(.06667rem, 0, 0);
        transform: translate3d(.06667rem, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInUp {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 40rem, 0);
        transform: translate3d(0, 40rem, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -.26667rem, 0);
        transform: translate3d(0, -.26667rem, 0)
    }

    75% {
        -webkit-transform: translate3d(0, .13333rem, 0);
        transform: translate3d(0, .13333rem, 0);
        opacity: 1
    }

    90% {
        -webkit-transform: translate3d(0, -.06667rem, 0);
        transform: translate3d(0, -.06667rem, 0);
        opacity: 1
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(40rem, 0, 0);
        transform: translate3d(40rem, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-.33333rem, 0, 0);
        transform: translate3d(-.33333rem, 0, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(.13333rem, 0, 0);
        transform: translate3d(.13333rem, 0, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(-.06667rem, 0, 0);
        transform: translate3d(-.06667rem, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(40rem, 0, 0);
        transform: translate3d(40rem, 0, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-.33333rem, 0, 0);
        transform: translate3d(-.33333rem, 0, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(.13333rem, 0, 0);
        transform: translate3d(.13333rem, 0, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(-.06667rem, 0, 0);
        transform: translate3d(-.06667rem, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes rotateScaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(-1turn);
        transform: scale(0) rotate(-1turn)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@keyframes rotateScaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(-1turn);
        transform: scale(0) rotate(-1turn)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes bounceInDown {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40rem, 0);
        transform: translate3d(0, -40rem, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, .33333rem, 0);
        transform: translate3d(0, .33333rem, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, -.13333rem, 0);
        transform: translate3d(0, -.13333rem, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, .06667rem, 0);
        transform: translate3d(0, .06667rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInDown {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -40rem, 0);
        transform: translate3d(0, -40rem, 0)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, .33333rem, 0);
        transform: translate3d(0, .33333rem, 0)
    }

    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, -.13333rem, 0);
        transform: translate3d(0, -.13333rem, 0)
    }

    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, .06667rem, 0);
        transform: translate3d(0, .06667rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate(-120deg);
        transform: translate3d(-100%, 0, 0) rotate(-120deg)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate(-120deg);
        transform: translate3d(-100%, 0, 0) rotate(-120deg)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 13.33333rem, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 13.33333rem, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -.8rem, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -.8rem, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 13.33333rem, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 13.33333rem, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -.8rem, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -.8rem, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-13.33333rem, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-13.33333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(.13333rem, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(.13333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-13.33333rem, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-13.33333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(.13333rem, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(.13333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(13.33333rem, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(13.33333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-.13333rem, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-.13333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(13.33333rem, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(13.33333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-.13333rem, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-.13333rem, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes topLoop {
    0% {
        -webkit-transform: translateY(1.33333rem);
        transform: translateY(1.33333rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes topLoop {
    0% {
        -webkit-transform: translateY(1.33333rem);
        transform: translateY(1.33333rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes leftLoop {
    0% {
        -webkit-transform: translateX(-2.66667rem);
        transform: translateX(-2.66667rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes leftLoop {
    0% {
        -webkit-transform: translateX(-2.66667rem);
        transform: translateX(-2.66667rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes rightLoop {
    0% {
        -webkit-transform: translateX(2.66667rem);
        transform: translateX(2.66667rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes rightLoop {
    0% {
        -webkit-transform: translateX(2.66667rem);
        transform: translateX(2.66667rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes bottomLoop {
    0% {
        -webkit-transform: translateY(-2.66667rem);
        transform: translateY(-2.66667rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes bottomLoop {
    0% {
        -webkit-transform: translateY(-2.66667rem);
        transform: translateY(-2.66667rem);
        opacity: 0
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes enLarge {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes enLarge {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes rotateYIn {
    0% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
        opacity: 0
    }

    to {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1
    }
}

@keyframes rotateYIn {
    0% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
        opacity: 0
    }

    to {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1
    }
}

@-webkit-keyframes slideDown {
    0% {
        height: 0
    }

    to {
        height: 100%
    }
}

@keyframes slideDown {
    0% {
        height: 0
    }

    to {
        height: 100%
    }
}

.bounceIn {
    -webkit-animation: bounceIn .8s ease;
    animation: bounceIn .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.bounceOut {
    -webkit-animation: bounceOut .8s ease;
    animation: bounceOut .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.bounceInUp {
    -webkit-animation: bounceInUp .8s ease;
    animation: bounceInUp .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.bounceInLeft {
    -webkit-animation: bounceInLeft .8s ease;
    animation: bounceInLeft .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.bounceInRight {
    -webkit-animation: bounceInRight .8s ease;
    animation: bounceInRight .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.bounceInDown {
    -webkit-animation: bounceInDown .8s ease;
    animation: bounceInDown .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.fadeInDown {
    -webkit-animation: fadeInDown .8s ease;
    animation: fadeInDown .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.fadeInUp {
    -webkit-animation: fadeInUp .8s ease;
    animation: fadeInUp .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.rotateScaleIn {
    -webkit-animation: rotateScaleIn 1.2s ease;
    animation: rotateScaleIn 1.2s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.fadeIn {
    -webkit-animation: fadeIn 1.6s ease;
    animation: fadeIn 1.6s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.rotateIn {
    -webkit-animation: rotateIn .8s ease;
    animation: rotateIn .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.rollIn {
    -webkit-animation: rollIn .8s ease;
    animation: rollIn .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.zoomIn {
    -webkit-animation: zoomIn .8s ease;
    animation: zoomIn .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.zoomInUp {
    -webkit-animation: zoomInUp .8s ease;
    animation: zoomInUp .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.slideInRight {
    -webkit-animation: slideInRight .8s ease;
    animation: slideInRight .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.zoomInLeft {
    -webkit-animation: zoomInLeft .8s ease;
    animation: zoomInLeft .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.zoomInRight {
    -webkit-animation: zoomInRight .8s ease;
    animation: zoomInRight .8s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.topLoop {
    -webkit-animation: topLoop 1s ease;
    animation: topLoop 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.leftLoop {
    -webkit-animation: leftLoop 1s ease;
    animation: leftLoop 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.rightLoop {
    -webkit-animation: rightLoop 1s ease;
    animation: rightLoop 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.bottomLoop {
    -webkit-animation: bottomLoop 1s ease;
    animation: bottomLoop 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.enLarge {
    -webkit-animation: enLarge 1s ease;
    animation: enLarge 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.rotateYIn {
    -webkit-animation: rotateYIn 1.6s ease;
    animation: rotateYIn 1.6s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.slideDown {
    -webkit-animation: slideDown 1.6s ease;
    animation: slideDown 1.6s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

body .app,
html {
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, STHeiti STXihei, Microsoft YaHei, Tohoma, sans-serif;
    background-color: #212121
}

.app-container {
    overflow-y: auto
}

.top_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10rem;
    background-image: url(../../static/img/bg2.f3e8bbd3.png);
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.49333rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 .74667rem;
    box-sizing: border-box;
    z-index: 1000
}

.header,
.header_right,
.lang_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.lang_box {
    font-weight: 500;
    color: #fff;
    font-size: .37333rem
}

.lang_box .globe {
    width: .42667rem
}

.head_logo {
    height: .96rem
}

.header .connect_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../../static/img/walletbg.207d8844.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 3.09333rem;
    height: .96rem;
    white-space: nowrap;
    margin-left: .53333rem
}

.header .connect_box span {
    font-size: .37333rem;
    background: -webkit-linear-gradient(left, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    background: linear-gradient(90deg, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.address_box {
    width: 4.45333rem;
    height: .96rem;
    line-height: .96rem;
    text-align: center;
    border: .02667rem solid #f3ba2f;
    font-size: .37333rem;
    color: #f3ba2f
}

.icon {
    width: .42667rem;
    margin-right: .10667rem;
    vertical-align: middle
}

.app-container {
    padding-bottom: .69333rem;
    box-sizing: border-box
}

.van-popup {
    background: #2a2a2a;
    padding: .53333rem;
    box-sizing: border-box
}

.van-popup .popup_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsla(0, 0%, 100%, .5);
    font-size: .45333rem
}

.van-popup .popup_title .close {
    width: .53333rem
}

.van-popup .connect_img {
    margin-top: .74667rem;
    margin-bottom: .32rem
}

.van-popup .connect_img img {
    height: .64rem
}

.connect_add {
    font-size: .32rem;
    color: #f3ba2f;
    margin-bottom: .53333rem
}

.popup_btnbox {
    text-align: right
}

.popup_btnbox .cancel_con {
    display: inline-block;
    width: 3.2rem;
    height: 1.28rem;
    line-height: 1.28rem;
    color: hsla(0, 0%, 100%, .5);
    font-size: .37333rem
}

.connect_item,
.popup_btnbox .cancel_con {
    text-align: center;
    box-shadow: 0 .02667rem .53333rem .02667rem rgba(0, 0, 0, .1);
    border: .02667rem solid;
    -webkit-border-image: -webkit-linear-gradient(top, #ffd600, #e5c100) 2 2;
    border-image: linear-gradient(180deg, #ffd600, #e5c100) 2 2
}

.connect_item {
    height: 1.6rem;
    line-height: 1.6rem;
    margin-top: .42667rem
}

.connect_item img {
    height: .64rem;
    vertical-align: middle
}

.both_sides {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.bind_wrapper,
.flex_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.bind_wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 12.69333rem;
    margin-top: -6.34667rem;
    margin-left: -5rem;
    background-image: url(../../static/img/bindbg.8edab72f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 1000
}

.bind_wrapper .block {
    padding: .64rem;
    background: #333;
    border-radius: .26667rem
}

.bind_wrapper .bind_title {
    font-size: .45333rem;
    font-weight: 700;
    background: -webkit-linear-gradient(left, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    background: linear-gradient(90deg, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .42667rem;
    text-align: center
}

.bind_wrapper .bind_input {
    position: relative;
    margin: auto;
    width: 7.22667rem;
    height: 1.12rem;
    background: hsla(0, 0%, 100%, .1);
    border-radius: .26667rem;
    border: .02667rem solid hsla(0, 0%, 100%, .2);
    margin-bottom: .74667rem
}

.bind_wrapper .bind_input input {
    width: 100%;
    height: 1.12rem;
    padding: 0 .96rem 0 .42667rem;
    text-align: center;
    font-size: .32rem;
    color: hsla(0, 0%, 100%, .34);
    background-color: transparent;
    border: none;
    box-sizing: border-box
}

.bind_wrapper .bind_input input::-webkit-input-placeholder {
    font-size: .32rem;
    color: hsla(0, 0%, 100%, .34)
}

.bind_wrapper .bind_input input::-moz-placeholder {
    font-size: .32rem;
    color: hsla(0, 0%, 100%, .34)
}

.bind_wrapper .bind_input input:-ms-input-placeholder {
    font-size: .32rem;
    color: hsla(0, 0%, 100%, .34)
}

.bind_wrapper .bind_input input::placeholder {
    font-size: .32rem;
    color: hsla(0, 0%, 100%, .34)
}

.bind_wrapper .bind_input .copy2 {
    position: absolute;
    width: .53333rem;
    height: .53333rem;
    top: 50%;
    right: .42667rem;
    margin-top: -.26667rem
}

.bind_wrapper .bind_btnbox .btn {
    width: 3.33333rem;
    height: 1.12rem;
    border-radius: .26667rem;
    font-weight: 500;
    font-size: .4rem
}

.bind_wrapper .bind_btnbox .cancel {
    background-color: hsla(0, 0%, 100%, .2);
    color: rgba(0, 0, 0, .5)
}

.bind_wrapper .bind_btnbox .confirm {
    background: -webkit-linear-gradient(top, #ffd600, #e5c100);
    background: linear-gradient(180deg, #ffd600, #e5c100);
    color: #000
}