.ido-container {
    position: relative
}

.ido-container .placeholder {
    height: 1.49333rem
}

.ido-container .banner_box {
    padding: 0 .74667rem;
    margin-top: .53333rem;
    margin-bottom: .74667rem
}

.ido-container .banner_box .banner {
    width: 1%
}

.ido-container .ido_bg {
    height: 25.76rem;
    top: 0;
    background-image: url(../../static/img/bg.6d92a7c3.png)
}

.ido-container .bottom_bg,
.ido-container .ido_bg {
    position: absolute;
    width: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1
}

.ido-container .bottom_bg {
    height: 10.24rem;
    bottom: 0;
    background-image: url(../../static/img/bottom.50d97188.png)
}

.ido-container .inner {
    padding: .64rem
}

.ido-container .inner .amount_box {
    font-size: .32rem;
    color: hsla(0, 0%, 100%, .5);
    margin-bottom: .32rem
}

.ido-container .inner .amount_box .amount {
    color: rgba(255, 214, 0, .45)
}

.ido-container .inner .num_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    align-items: center;
}

.ido-container .inner .num_box .num_item {
    width: 2.56rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    text-align: center;
    border: .02667rem solid rgba(242, 201, 76, .2);
    font-size: .26667rem;
    color: hsla(0, 0%, 100%, .3)
}

.ido-container .inner .num_box .num_item .num {
    font-size: .45333rem;
    color: hsla(0, 0%, 100%, .5)
}

.ido-container .inner .num_box .num_act {
    background: rgba(242, 201, 76, .2);
    border: .02667rem solid #f2c94c;
    color: hsla(0, 0%, 100%, .5)
}

.ido-container .inner .num_box .num_act .num {
    color: #f2c94c
}

.ido-container .inner .income_box {
    margin-top: .64rem;
    text-align: center
}

.ido-container .inner .income_box span {
    font-size: .37333rem;
    font-weight: 700;
    background: -webkit-linear-gradient(left, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    background: linear-gradient(90deg, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.ido-container .inner .buy_btn {
    height: 2.24rem;
    line-height: 2.24rem;
    text-align: center;
    background-image: url(../../static/img/buy2.04bf5f21.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #e8b858;
    font-weight: 700;
    font-size: .37333rem
}

.ido-container .inner .warnind_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ido-container .inner .warnind_box img {
    width: .37333rem;
    margin-right: .10667rem
}

.ido-container .inner .warnind_box span {
    font-size: .32rem;
    color: rgba(229, 193, 0, .5)
}

.ido-container .inner .receive_desc {
    color: hsla(0, 0%, 100%, .8);
    font-size: .32rem;
    margin-bottom: 1.49333rem
}

.ido-container .inner .page_title {
    font-size: .45333rem;
    font-weight: 500;
    margin-top: .96rem;
    margin-bottom: .32rem
}

.ido-container .inner .page_title .ligh_text {
    background: -webkit-linear-gradient(left, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    background: linear-gradient(90deg, #fff, #fff 45%, #fff 77%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.ido-container .inner .page_title .right_text {
    font-size: .26667rem;
    color: #fff
}

.ido-container .inner .invite_box {
    height: 1.22667rem;
    background: -webkit-linear-gradient(315deg, rgba(4, 165, 244, .1), rgba(40, 239, 158, .1));
    background: linear-gradient(135deg, rgba(4, 165, 244, .1), rgba(40, 239, 158, .1));
    border-radius: .32rem;
    border: .02667rem solid hsla(0, 0%, 100%, .2);
    -webkit-filter: blur(undefinedpx);
    filter: blur(undefinedpx);
    backdrop-filter: blur(.53333rem);
    padding: 0 .42667rem;
    margin-top: .32rem;
    color: hsla(0, 0%, 100%, .5);
    font-size: .32rem
}

.ido-container .inner .invite_box .shareUrl {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: .26667rem
}

.ido-container .inner .invite_box .copy {
    width: .37333rem
}

.ido-container .inner .receive_box {
    margin-right: -.53333rem
}

.ido-container .inner .receive_box .receive_num {
    font-size: .53333rem;
    background: -webkit-linear-gradient(left, #fff, #fde887 45%, #d28829 77%, #e2a63e);
    background: linear-gradient(90deg, #fff, #fff 45%, #fff 77%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: .16rem
}

.receive_num1 {
    font-size: .53333rem;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fde78700 45%rgba(210, 137, 41, 0)29 77%, #e2a63e00);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, rgba(255, 255, 255, 0) 255, 0) 45%, rgba(255, 255, 255, 0) 77%, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -20px
}

.ido-container .inner .receive_box .receive_label {
    color: hsla(0, 0%, 100%, .5);
    font-size: .32rem
}

.touming {
    color: rgba(255, 255, 255, 0);
    font-size: .0rem;
    text-emphasis-color: rgba(255, 0, 0, 0);
}

.ido-container .inner .receive_box .btn {
    width: 3.30667rem;
    height: 2.24rem;
    background-image: url(../../static/img/buy.e3b07fad.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #e8b858;
    font-size: .37333rem
}

.ido-container .inner .receive_nft {
    margin-top: -.26667rem
}

.ido-container .inner .page_title2 {
    font-size: .45333rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: .32rem
}

.ido-container .inner .page_desc {
    font-size: .37333rem;
    color: hsla(0, 0%, 100%, .5);
    margin-bottom: 1.06667rem
}

.ido-container .inner .media_box {
    margin-bottom: .42667rem;
    text-align: center
}

.ido-container .inner .media_box .media_icon {
    width: .74667rem;
    margin: 0 .37333rem
}

.ido-container .inner .Copyright {
    text-align: center;
    color: hsla(0, 0%, 59.2%, .5);
    font-size: .32rem
}